body {
    text-align: center;
    background-color: #2c2e48;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    background-color: #59c174;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#p1, #p2 {
    background-color: #fafafa;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#s {
    text-align: left;
}

#shape {
    margin-left: 435px;
}
